.container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 2rem;

  .paginationRange {
    display: flex;
    gap: 0.625rem;
    align-items: center;

    .item {
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 2.813rem;
      height: 2.813rem;

      border: 0.0625rem solid var(--color-dark-800);
      border-radius: var(--border-radius);

      transition: all 0.45s ease;

      background-color: var(--color-main);

      &:disabled {
        cursor: initial;
        color: var(--color-dark-100);
      }

      &.selected {
        color: var(--color-light-100);
        background-color: var(--color-accent-700);
      }

      &:focus-within {
        border-radius: 0.25rem;
        outline: 0.125rem solid var(--color-info-900);
      }

      &:hover:not(&:disabled) {
        background-color: var(--color-accent-900);
      }

      .icon {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  .selectBox {
    display: flex;
    gap: 0.625rem;
    align-items: center;
  }
}