.description {
    padding: 0.313rem;

    .userCover {
        max-height: 21.875rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 0.5rem;
        padding: 11.25rem 2.188rem 2.188rem 3.125rem;
        position: relative;
        margin-bottom: 1.875rem;
        z-index: 0;

        &::before {
            content: "";
            height: 100%;
            width: 100%;
            background-image: linear-gradient(to top, rgba(0, 0, 0, .9), transparent);
            border-radius: var(--border-radius-box);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }

        .userWrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .userInfo {
                display: flex;
                align-items: center;

                .fileUploader {
                    display: none;
                }

                .userAvatar {
                    position: relative;
                    margin-right: 1.875rem;

                    &.opacity {
                        opacity: 0.7;
                    }

                    .edit {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        cursor: pointer;

                    }

                }

                .statusTitle{
                    cursor: pointer;
                    &:hover{
                        opacity: 0.7;
                    }
                }

                .status{
                    cursor: pointer;
                    &:hover{
                        opacity: 0.7;
                    }
                }


            }

            .buttonsPanel{}
        }


    }

    .personalInfo {}

    .posts{

    }
}