.description {
    padding: 0.313em;

    .userCover {
        max-height: 21.875em;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 0.5em;
        padding: 11.25em 2.188em 2.188em 3.125em;
        position: relative;
        margin-bottom: 1.875em;
        z-index: 0;

        &::before {
            content: "";
            height: 100%;
            width: 100%;
            background-image: linear-gradient(to top, rgba(0, 0, 0, .9), transparent);
            border-radius: var(--border-radius-box);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }

        .userInfo {
            display: flex;
            align-items: center;

            .fileUploader {
                display: none;
            }

            .userAvatar {
                position: relative;
                margin-right: 1.875em;

                &.opacity {
                    opacity: 0.7;
                }

                .edit {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    cursor: pointer;

                }

            }

            .statusTitle{
                cursor: pointer;
                &:hover{
                    opacity: 50%;
                }
            }

            .status{
                cursor: pointer;
                &:hover{
                    opacity: 50%;
                }
            }


        }
    }

    .personalInfo {}
}