
.messageItem {
    display: flex;
    padding-top: 0.625rem;
    height: 3.125rem;
    align-items: center;

    &:first-child {
        padding-top: 0.063rem;
        height: 3.125rem;
    }

    .circle {
        height: 0.625rem;
        width: 0.625rem;
        border-radius: 0.313rem;
        background: red;
    }

    .currentCircle {
        height: 0.625rem;
        width: 0.625rem;
        border-radius: 0.313rem;
        background: green;
    }
}




