@mixin button(
  $default-background-color,
  $box-shadow-color,
  $text-color,
  $active-background-color,
  $hover-background-color,
  $focus-border-color,
  $disabled-background-color,
  $disabled-text-color
) {
  cursor: pointer;

  padding: 0.3rem 0.5rem;

  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semi-bold);
  letter-spacing: var(--letter-spacing);

  color: $text-color;

  background-color: $default-background-color;
  border: 0.063rem solid transparent;
  border-radius: var(--border-radius);
  box-shadow: 0 0.25rem 1.125rem 0 rgba($box-shadow-color, 0.35);

  transition: all 0.45s ease;

  &:focus {
    border-color: $focus-border-color;
  }

  &:hover {
    background-color: $hover-background-color;
    border-color: $hover-background-color;
  }

  &:active {
    background-color: $active-background-color;
    border-color: $active-background-color;
  }

  &:disabled {
    color: $disabled-text-color;
    background-color: $disabled-background-color;
    border-color: $disabled-background-color;
  }
}

.primary {
  @include button(
                  var(--color-success-100),
                  var(--color-accent-500),
                  var(--color-light-100),
                  var(--color-success-700),
                  var(--color-success-300),
                  var(--color-info-700),
                  var(--color-dark-300),
                  var(--color-light-900)
  );
}

.secondary {
  @include button(
                  var(--color-danger-100),
                  rgb(129, 129, 129),
                  var(--color-light-100),
                  var(--color-danger-500),
                  var(--color-danger-200),
                  var(--color-info-700),
                  var(--color-dark-300),
                  var(--color-light-900)
  );
}

.tertiary {
  @include button(
                  var(--color-accent-700),
                  var(--color-accent-900),
                  var(--color-light-100),
                  var(--color-accent-900),
                  var(--color-accent-900),
                  #9747ff,
                  transparent,
                  var(--color-accent-900)
  );
  box-shadow:none;
  border: 0.063rem solid var(--color-accent-700);

  &:active {
    border-color: var(--color-accent-900);
  }

  &:hover {
    border-color: var(--color-accent-900);
  }

  &:focus {
    border: 0.063rem solid var(--color-info-900);
  }

  &:disabled {
    color: var(--color-accent-900);
    border-color: var(--color-accent-900);
  }
}

.link {
  @include button(
                  transparent,
                  transparent,
                  var(--color-accent-500),
                  transparent,
                  transparent,
                  var(--color-info-700),
                  transparent,
                  var(--color-accent-900)
  );

  font-weight: 700;

  &:active {
    color: yellow;
  }

  &:hover {
    color: var(--color-accent-300);
  }

  &:focus {
    color: var(--color-accent-500);
    border-radius: 8.125rem;
  }

  &:disabled {
    color: var(--color-accent-900);
  }
}

.fullWidth {
  width: 100%;
  text-align: center;
}
