.item {
  cursor: pointer;

  display: flex;
  gap: 0.625rem;
  align-items: center;

  width: 100%;

  outline: none;

  fill: var(--color-light-100);

  transition: opacity 0.4s ease-in-out;

  &:not(:last-child) {
    padding-bottom: 0.75rem;
    border-bottom: 0.063rem solid var(--color-dark-500);
  }

  &:not(:first-child) {
    padding-top: 0.75rem;
  }

  &:hover,
  &:focus {
    opacity: 0.3;
  }

  &:hover {
    div.itemIcon,
    p.text {
      opacity: 0.7;
    }
  }

  .itemIcon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
