.chat {
  .chatHeader {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background-color: var(--color-second);
    border-radius: var(--border-radius);
    min-height: 5rem;

    .chatAvatar {
      margin: auto 8px;
      background: var(--color-dark-900);
    }

    .chatName{
      color: var(--color-light-100);
    }

    .close {
      margin-left: auto;
      margin-right: 8px;
    }
  }

  .chatContent {
    width: 45rem;

    .chatData {
      height: 31.25rem;
      overflow-y: scroll;
      scrollbar-width: none;
      background-color: var(--color-second);
      border-radius: var(--border-radius);

      &::-webkit-scrollbar {
        display: none;
      }

      .messageItem {
        display: flex;
        align-items: center;
        padding-left: 15px;
        margin-bottom: 10px;

        .messageWrapper {
          display: flex;
          flex-direction: column;
          background-color: var(--color-main);
          padding: 7px 12px;
          border-radius: 0.8rem;
          margin-left: 10px;
          max-width: 30rem;

          .userName {
            font-weight: 700;
            color: var(--color-danger-500);
          }

          .text {
            color: var(--color-light-100);
          }
        }

        &:first-child {
          margin-top: 10px
        }
      }

      .currentUser {
        justify-content: end;
        flex-direction: row-reverse;
        padding-right: 15px;

        .messageWrapper {
          background-color: var(--color-accent-700);
          margin-right: 10px;

          .userName {
            display: flex;
            justify-content: end;
            color: #43ea02;
          }

          .text {
            display: flex;
            justify-content: end;
          }
        }
      }


    }

    .sendMessageBar {
      display: flex;
      border-top: 10px var(--color-main) solid;

      .button {
        margin-left: .5rem;
        background-color: var(--color-accent-700);
      }
    }
  }
}
