.dialogItem {
    display: flex;
    flex-direction: row;
    color: darkblue;
    text-decoration-line: none;
    padding-bottom: 0.313em;
    align-items: center;

    .activeDialogItem {
        display: flex;
        color: rgba(230, 42, 28, 0.616);
        text-decoration-line: none;
        align-items: center;
        padding-bottom: 0.313em;
    }

    & img {
        width: 3.125em;
        height: 3.125em;
        border-radius: 1.875em;
        background-color: white;
    }

    & span {
        padding-left: 0.313em;
    }
}




