.friendSection{

    .label{
        font-size: 0.75em;
        color: var(--color-menu-label);
        font-weight: var(--font-weight-semi-bold);
        text-transform: uppercase;
        letter-spacing:var(--letter-spacing);
        line-height: var(--line-height-m);
    }

    .item {
        display: inline-block;
        margin-left: 0.313em;
        text-align: center;

        .avatar{
            display: flex;
            height: 3.125em;
            width: 3.125em;
            border-radius: 1.563em;
            background: white;
        }

        &:hover {
            color: var(--color-light-100);
        }
    }
}

