.settingsPage {
  padding: 2rem;
  border-radius: var(--border-radius-box);

  .title {
    margin-bottom: 2rem;
    padding: 0 0 1.25rem;
    border-bottom: .0625rem solid var(--color-dark-800);
  }

  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.8rem;


    .input {
      padding: 1rem;
      background: transparent;
      border: 0.0625rem solid var(--color-dark-800);
      border-radius: var(--border-radius);
      height: 3.123rem;
      line-height: 3.123rem;
      width: 100%;
    }

    .label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 0.5rem;
      line-height: 1.1rem;
      letter-spacing: 0.1rem;
      background-color: var(--color-second);
      transform: scale(0.75) translateY(-0.7rem) translateX(0.5rem);
      font-size: var(--font-size-s);
      border-left: 0.0625rem solid var(--color-dark-800);
      border-right: 0.0625rem solid var(--color-dark-800);
    }

    .button {
      margin-top: 0.8rem;
      text-transform: uppercase;
      line-height: var(--line-height-m);
      margin-left: auto;
    }
  }

}
