.messages {

  display: flex;
  flex-direction: row;
  padding: 1.25rem 1.25rem 0.625rem 1.875rem;
  justify-content: space-between;
  background-color: var(--color-main);

  .sidebar {

    .search {
    }

    .tabs {
      .sidebarContent {
        flex-direction: column;

        .userItem {
          background-color: var(--color-second);
          &:hover {
            background-color: var(--color-hover-link);
            cursor: pointer;
          }
        }

        .groupItem {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;

          border-radius: var(--border-radius-box);
          padding: 1.5rem;
          margin-bottom: 2rem;
          background-color: var(--color-second);
          transition: all 0.45s ease;

          .groupInfo {
            display: flex;
            gap: 1rem;

            .description {
              display: flex;
              flex-direction: column;
              justify-content: center;
            }
          }

          &:hover {
            background-color: var(--color-hover-link);
            cursor: pointer;
          }
        }

        .groupAvatar img {
          background: var(--color-dark-900);
        }
      }
    }

    .sidebarFooter {

    }

  }

  .chat {
    .chatHeader {
    }

    .chatContent {
      .chatData {
        width: 40rem;
        height: 31.25rem;
        overflow-y: scroll;
        scrollbar-width: none;
        background-color: var(--color-second);
        border-radius: var(--border-radius);

        &::-webkit-scrollbar {
          display: none;
        }

        .messageItem {
          display: flex;
          align-items: center;
          padding-left: 15px;
          margin-bottom: 10px;

          .messageWrapper {
            display: flex;
            flex-direction: column;
            background-color: var(--color-main);
            padding: 7px 12px;
            border-radius: 0.8rem;
            margin-left: 10px;
            max-width: 30rem;

            .userName {
              font-weight: 700;
              color: var(--color-danger-500);
            }

            .text {
              color: var(--color-light-100);
            }
          }

          &:first-child {
            margin-top: 10px
          }
        }

        .currentUser {
          justify-content: end;
          flex-direction: row-reverse;
          padding-right: 15px;

          .messageWrapper {
            background-color: var(--color-accent-700);
            margin-right: 10px;

            .userName {
              display: flex;
              justify-content: end;
              color: #43ea02;
            }

            .text {
              display: flex;
              justify-content: end;
            }
          }
        }


      }

      .sendMessageBar {
        display: flex;

        .button {
          margin: auto .5rem;
          background-color: var(--color-accent-700);
        }
      }
    }
  }
}

