.messages {

  display: flex;
  flex-direction: row;
  padding: 1.25rem 1.25rem 0.625rem 1.875rem;
  justify-content: space-between;
  background-color: var(--color-main);

  .sidebar {

    .search {
    }

    .tabs {
      .sidebarContent {
        flex-direction: column;

        .userItem {
          background-color: var(--color-second);

          &:hover {
            background-color: var(--color-hover-link);
            cursor: pointer;
          }
        }

        .groupItem {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;

          border-radius: var(--border-radius-box);
          padding: 1.5rem;
          margin-bottom: 2rem;
          background-color: var(--color-second);
          transition: all 0.45s ease;

          .groupInfo {
            display: flex;
            gap: 1rem;

            .description {
              display: flex;
              flex-direction: column;
              justify-content: center;
            }
          }

          &:hover {
            background-color: var(--color-hover-link);
            cursor: pointer;
          }
        }

        .groupAvatar {
          background: var(--color-dark-900);
        }
      }
    }

    .sidebarFooter {

    }

  }

}

