.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding: 0 15px;
    align-items: center;

    background-color: var(--color-second);
    border-radius: 4px;
    z-index: 1;

    & a {
        text-decoration: none;
    }
}

.logo {
    display: flex;
    align-items: center;

    .title {
        margin-left: -0.25em;
    }

}

.loginBlock {
    margin-right: 10px;
}

.login {
    color: wheat;
    text-decoration: none;
}