.avatar{
    object-fit: cover;
    background: var(--color-light-100);
    border-radius: 50%;

    &.large{
        height: 7.188rem;
        width: 7.188rem;
    }
    &.medium{
        height: 5rem;
        width: 5rem;
    }
    &.small{
        height: 3.125rem;
        width: 3.125rem;
    }
}


