.avatar{
    object-fit: cover;
    background: var(--color-light-100);
    border-radius: 50%;

    &.medium{
        height: 5em;
        width: 5em;
    }
    &.small{
        height: 3.125em;
        width: 3.125em;
    }
}


