.appWrapper {
  display: grid;
  grid-template-areas:
  "header header"
  "navbar content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 14fr;
  grid-gap: 10px;
  @media screen and (max-width: 1430px) {
    grid-template-columns: 2fr 10fr;
  }
}

.content{
  max-width: 84.433em;

  grid-area: content;
  background-color: var(--color-second);
}
