.users {
    display: flex;
    flex-direction: column;
    padding: 2em;

    .user {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        border-radius: var(--border-radius-box);
        padding: 1.5em;
        margin-bottom: 2em;
        background-color: var(--color-main);
        transition: all 0.45s ease;

        .userInfo {
            display: flex;
            gap: 1em;

            .linkAvatar {
                display: flex;
            }

            .description {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .item {
                    margin-bottom: 0.375em;

                    &.status{
                        color:var(--color-font-global)
                    }
                }
            }
        }
    }

}
